@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: black;
  background-color: #FFFFFF;
}

/*Pages*/
.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.navigation-list .button {
  color: #FFFFFF;
  background-color: #756157; /*временое решение что бы видеть текст*/
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Title */
.advantages-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title p {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  list-style: none;
}

.advantages-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages .first,
.advantages .last {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages .second,
.advantages .fourth {
  background-color: #83B3D31F;
}

.advantages .third {
  background-color: #83B3D333;
}

.services h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services .reason {
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  list-style: none;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services .first,
.services .third {
  background-color: #83B3D31F;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search p {
  font-size: 22px;
  line-height: 26px;
}

.search .button {
  color: #FFFFFF;
  background-color: rgba(117, 97, 87, 1); /*временое решение что бы видеть текст*/
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  width: 1200px;
  height: 415px;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.subscribe .field {
  line-height: 24px;
}

.subscribe .button {
  color: #FFFFFF;
  background-color: #82B3D3; /*временое решение что бы видеть текст*/
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-social-list {
  list-style-type: none;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.selection-menu {
  width: 1200px;
  height: 412px;
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: none;
}

.catalog-filter-title,
.inhabitation-cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-item {
  line-height: 23px;
}

.accept,
.reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.accept {
  background-color: #82B3D3 ;
  border: none;
  border-radius: 4px;
}

.reset {
  background-color: transparent;
  border: 1px dotted black;
}

.hotel-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control,
.font {
  color: #333333;
}

.display-type-list {
  list-style-type: none;
}

.inhabitation-list {
  list-style-type: none;
}

.inhabitation-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.inhabitation-name {
  text-align: left;
}

.inhabitation-price {
  text-align: right;
}

.inhabitation-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.inhabitation-card-favorites-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
}

.interaction-buttons .selected {
  background-color: #7DB54F;
}

.inhabitation-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  list-style-type: none;
}

.pagination-item .pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: black;
  text-decoration: none;
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-item .hidden {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  background-color: none;
  text-decoration: none;
}

.subscribe-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-catalog p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-form .button {
  color: #FFFFFF;
  background-color: #82B3D3; /*временое решение что бы видеть текст*/
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
}

.subscribe-catalog .field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
